/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family= Barlow :wght@900 & display=swap');

/*Global CSS*/
*{ 
    height: 100%;
}

.container_parent {
    padding: 2rem 2rem;
    text-align: left;
}
.container_child{
    display: inline-block;
    padding: 1rem 1rem;
     vertical-align: middle;
}
.container_child2 {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.logo{
    width: x;
    height: 101px;
}
