/*Global CSS*/
*{ 
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, rgba(240, 100, 200, 0.7),rgb(64, 64, 64, 0.7) 30%);
}

.container_parent {
    padding: 2rem 2rem;
    text-align: left;
}
    .container_child{
        display: inline-block;
        padding: 1rem 1rem;
        vertical-align: middle;
    }
        .container_child2 {
            display: inline-block;
            padding: 1rem 1rem;
            vertical-align: middle;
        }